* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;  
    outline: none;  
    background-color: #f2f2f2f2;
}

form button {
    padding: 14px;
    background: lightcoral;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    margin: 20px auto 0;
    border-radius: 20px;    
}

@media screen and (max-width: 430px) {
    form {
        text-align: center;
    }

    form button {
        width: 60%;
        padding: 8px;
        font-size: 16px;
    }
}
